body {
    font-family: 'Baloo Bhai 2', cursive;
    background-color: black;
    color: white;
    margin: 0px;
    padding: 0px;
    /* background: url(../images/training.jpg);    */
}

.btn {
    font-family: 'Baloo Bhai 2', cursive;
    text-align: center;
    display: block;
    margin: 0px 4px;
    background-color: black;
    color: white;
    padding: 1px 11px;
    border: 2px solid rgb(248, 242, 242);
    border-radius: 10px;
    cursor: pointer;

    font-family: 'Baloo Bhai 2', cursive;
    text-align: center;
    display: block;
    padding: 3px;
    width: 306px;
    border: 2px solid black;
    margin: 3px auto;
    border-radius: 14px;
    font-size: 20px;
}

.btn:hover {
    background: rgb(43, 40, 40);
}

.form-grp input {
    font-family: 'Baloo Bhai 2', cursive;
    text-align: center;
    display: block;
    padding: 3px;
    width: 306px;
    border: 2px solid black;
    margin: 3px auto;
    border-radius: 14px;
    font-size: 20px;
}
/* #root{
    font-family: 'Baloo Bhai 2', cursive;
    text-align: center;
    display: block;
} */